﻿@model IEnumerable<TimeTable>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Órarendek</h2>
<hr/>
@Html.ActionLink("Új órarend", "CreateOrUpdate", "TimeTable", null, new { @class = "btn-lg btn-primary" })
<hr/>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Név</th>
            <th>Szemeszter</th>
            <th>Felvett kurzusok</th>
            <th></th>
        </tr>
        @foreach (var timeTable in Model)
        {
        <tr>
            <td>@timeTable.Name</td>
            <td>@timeTable.Semester</td>
            <td>@timeTable.Course.Count</td>
            <td>
                @Html.ActionLink("Megtekintés", "CreateOrUpdate", "TimeTable", new { id = timeTable.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Törlés", "Delete", "TimeTable", new { id = timeTable.Id }, new {@class = "btn btn-danger"})
            </td>
        </tr>
        }
    </table>
}
else
{
    <i>Nincsenek korábbi órarendek.</i>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}